<!DOCTYPE html>
<html>
    <head>
        <title>
            about us
        </title>
        <link rel = 'stylesheet' type="text/css" href = "css/style.css" />
    </head>
    <body>
        <main>
            <Header class = "others_page">
                {{>header}} <!-- HEADER OF THE -->
            </Header>
            <section class = "about_us" id = "aboutus">
                <sidebar>
                   <!-- SIDEBAR IS USED TO SHOW ALL LINKS THAT ARE PRESENTED HERE -->
                   <div class = "img_container">
                    <img src = "images/profile.png" alt = "this is a small photo size image" />
                   </div>
                   <navbar>
                     <ul>
                        <li><a href = "home">HOME</a></li>
                        <li><a href = "aboutus" class = "active">ABOUT US</a></li>
                        <li><a href = "resume">RESUME</li></a>
                        <li>PORTFOLIO</li>
                        <li>CONTACT</li>
                     </ul>
                   </navbar>
                </sidebar>
                <div class = "about_content">
                    <!-- ALL DETAILS OF ABOUT IS WRITTEN HERE -->
                    <titleBar>
                        <h1>ABOUT ME</h1>
                    </titleBar>
                    <div class = "details">
                        <h4>I'm <snap class ="first_letter">V</snap>ikash Yadav, <snap>GRAPHIC DESIGNER | WEB DEVELOPMENT | APP DEVELOPMENT</snap></h4>
                        <article>
                             I am a self-taught web developer with a strong eye for innovative design and a keen understanding of techniques geared toward optimum user experience.
                             I can design poster, banners, logos and websites.
                        </article>
                    </div>
                    <div class = "details_box">
                        <div class = "graphic_box">
                            <!-- DESING GRAPHIC BOX -->
                            <div class = "box first">
                              <h2>3+</h2>
                              <h3>YEAR EXPERIENCE</h3>
                            </div>
                            <div class = "box second">
                              <h2>50+</h2>
                              <h3>Projects Done</h3>
                            </div>
                            <div class = "box third">
                              <h2>40</h2>
                              <h3>Happy Clients</h3>
                            </div>
                            <div class = "box fourth">
                              <h2>200+</h2>
                              <h3>Network</h3>
                            </div>
                        </div>
                        <div class = "skills">
                            <!-- SKILLS DETAILS -->
                            <titleBar>
                               <h3>WHAT I DO ? </h3>
                            </titleBar>
                            <div class = "skills_details">
                              <div class = "skills_box">
                                <div class = "imgage">
                                   <img src = "images/ai.png" alt = "adobe illustrator images"/>
                                </div>
                                <div class = "content">
                                  <h5>GRAPHIC DESIGN</h5>
                                  <p>
                                    Canva,Adobe illustrator
                                    Adobe Premiere Pro,
                                    Adobe Photoshop
                                  </p>
                                </div>
                               </div>
                               <div class = "skills_box">
                                <div class = "imgage">
                                  <img src = "images/www.png" alt = "web design images" />
                                </div>
                                <div class = "content">
                                  <h5>WEB DESIGN</h5>
                                  <p>
                                    HTML,CSS,SASS,TAILWIND,
                                    JS,REACT JS , BOOTSTRAP,
                                    NODE JS, MYSQL,MOONGODB
                                  </p>
                                </div>
                              </div>
                               <div class = "skills_box">
                              <div class = "imgage">
                                <img src = "images/play.png" alt = "image of the software">
                              </div>
                              <div class = "content">
                                  <h5>SOFTWARE DEVELOPMENT </h5>
                                  <p>
                                    C & C++,PYTHON,JS,JAVA
                                    DART
                                  </p>
                               </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>