<!-- DESIGN MAIN -->
<!DOCKTYPE html>
<html lang = 'eng'>
 <head>
	<!-- METADATA OF THE WEBSITE -->
 	<meta charset = "UTF-8"/>
 	<meta name = "content" content = "Portfolio website" />
 	<meta name = "discription" content = "This is my personal software engineer's portfolio..."/>
 	<meta name = "author" content = "Vikash Yadav"/>
 	<meta name = "viewport" content = "width = device - width,initial-scale = 1.0"/>
	<!-- TITLE OF THE WEBSITE -->
 	<title>MY PERSONAL PORTFOLIO</title>
	<!-- FAVICON FILE 
	<link rel="icon" type = "image/x-icon" href = "ᏙᏆᏦᎪՏ"/>
	-->
	<!-- EXTERNAL CSS FILE -->
 	<link rel = "stylesheet" type="text/css" href = "css/style.css"/>
    
 </head>
 <body>
   <main>
   	 <!-- I DECLARED HEADER BELOW THE COMMENT THAT INCLUDES EVERY LINKs -->
   	 <Header>
   <!--	{{>header}}  header of the file -->
      {{>header}}
   	 </Header>
   	 <!-- HOME PAGE SECTION -->
   	 <section class ="home" id = "home">
       <div class = "img_content">
         <div class = "img_container">
			<img src = "images/developer_img.png" alt="This is just image of developer"/>
		 </div>
	   </div>
	   <div class ="text_content">
         <div class = "content_box">
            <div class = "heading">
				<h1><snap>H</snap>I,THERE !</h1>
				<h2>I<sup>'M</sup> VIKASH YADAV</h2>
			</div>
			<div class = "labeling">
				<h4>GRAPHIC DESIGN | APP DEVELOPMENT | WEB DEVELOPMENT</h4>
			</div>
			<div class = "introduction">
				<p>
					Hello, everyone my name is Vikash Yadav.
                    And I’m a under-graduate student of CSJMU  University Kanpur. 
					I have knowledge of graphic - design, web development etc.
				</p>
			</div>
			<div class ="moreabout_btn">
				<h5>MORE ABOUT ME</h5>
			</div>
		 </div>	
	   </div>
   	 </section>
   </main>	
 </body>
</html>