<!-- DESIGN MAIN -->
<!DOCKTYPE html>
<html lang = 'eng'>
 <head>
	<!-- METADATA OF THE WEBSITE -->
 	<meta charset = "UTF-8"/>
 	<meta name = "content" content = "Portfolio website" />
 	<meta name = "discription" content = "This is my personal software engineer's portfolio..."/>
 	<meta name = "author" content = "Vikash Yadav"/>
 	<meta name = "viewport" content = "width = device - width,initial-scale = 1.0"/>
	<!-- TITLE OF THE WEBSITE -->
 	<title>MY PERSONAL PORTFOLIO</title>
	<!-- FAVICON FILE 
	<link rel="icon" type = "image/x-icon" href = "ᏙᏆᏦᎪՏ"/>
	-->
	<!-- EXTERNAL CSS FILE -->
 	<link rel = "stylesheet" type="text/css" href = "css/style.css"/>
 </head>
 <body>
   <main>
   	 <!-- I DECLARED HEADER BELOW THE COMMENT THAT INCLUDES EVERY LINKs -->
   	 <Header>
   <!--	{{>header}}  header of the file -->
   	 </Header>
   	 <!-- HOME PAGE SECTION -->
   	 <section class ="home" id = "#">
       <div class = "img_content">

	   </div>
	   <div class ="text_content">

	   </div>
   	 </section>
   </main>	
 </body>
</html>