<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel='stylesheet' type="text/css" href='css/style.css'>
</head>
<body>
 {{>header}}
 <div class='wheather-box'>
 	<div class='box'>
 		<div class='box-heading'>
 			<h3>Search Wheather of your city</h3>
 			<div class='box-searching'>
 				<div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Enter your city name" aria-label="enter your city" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn" type="Search"> 
                    	 Search
                    </button>
                  </div>
                </div>
 			</div>
 		</div>
 		<div class="titles">
 			<div class='location'>
 				<h3>Pune, India</h3>
 			</div>
 			<div class='day_date_time'>
 				<p>Wednesday | March 16 | 10:34 AM</p>
 			</div>
 			<div class='city_temp'>
 				<h2>25.55 <sup>o</sup>C</h2>
 			</div>
 			<div class='min_max_temp'>
 				<p>Min 26.55 <sup>o</sup>C | Max 26.55<sup>o</sup>C</p>
 			</div>
 		</div>
 	</div>
 </div>
   <div class='footer-content'>
   	{{>footer}}
   </div>
   <script type="text/javascript" src='js/index.js'></script>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>