<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name='viewport' content='width=device-width,initail-scale=1'>
  <title></title>
</head>
<body>
    <div class='footer-box'>
       <div class='footer-row'>
         <div class='footer-content-1'>
            <div class='contents'>
              <h4>Get in touch</h4>
             <p> If you want to work together on
                 a project or just have a chat,
                 please don't hesitate to contact 
                 me via email below.
              </p>
            </div>
            <div class='email-button'>
            <h6>Send me an email</h6>
            </div>
          </div>
            <div class='img'>
              <img src='images/img2.png'>
         </div>
         </div>
         <div class='content-2'>
         <h4>Work</h4>
         <h4>PLAYGROUND</h4>
         <h4>ABOUT</h4>
       </div>
       </div>
</body>
</html>