$first_color:rgba(206, 206, 206, 1);
$second_color:rgba(217, 217, 217, 1);
$navbar_color:rgba(164, 153, 153, 1);
$hover_color:blue;
$active_color:red;
$text_color:white;
$sidebar_color:$navbar_color;
